body{
    background-image:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url(shapes.jpg);
    background-position: cover;
   
}
#correctButton{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;

}
#wrongButton{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;

   
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
img{
    width: 98vw;
    height:98vh;
    display: flex;
    justify-content: center;
}
#smart{
    padding: 1vw;
}
h1{
    text-align: center;
}
h2{text-align: center;}

#squarecorrectButton{
    padding: 10vh;
    background-color: yellow;
    position: relative;


}
#squarewrongButton1{
    background-color: blue;
    width: 15vw;
    height: 10vh;
    position: relative;

}
#squarewrongButton2{
    background-color: green;
    width: 15vw;
    height: 10vh;
    position: relative;

}
#squarewrongButton3{
    background-color: orange;
    width: 20vw;
    height: 23vw;
    position: relative;

}
    
#circlecorrectButton{
    
    background-color: yellow;
padding: 10vh;
width: 10vw;
height: 10vh;
border-radius: 75px;
border-color: none;
position: relative;

}
#circlewrongButton1{
    background-color: purple;
    padding: 10vh;
width: 20vw;
height: 10vw;
border-radius: 65px;
position: relative;

}
#circlewrongButton2{
    background-color: green;
    width: 15vw;
    height: 14vw;
    border-radius: 80px;
    position: relative;

}
#circlewrongButton3{
    background-color: orange;
    width: 20vw;
    height: 23vw;
    border-radius: 120px;
    position: relative;

}
#rectanglecorrectButton{
    width: 15vw;
    height: 12vw;
    background-color: yellow;
    position: relative;

}
#rectanglewrongButton1{
    background-color: rgb(255, 230, 0);
   padding: 10vw;
   position: relative;

}
#rectanglewrongButton2{
    background-color: rgb(212, 233, 179);
    width: 15vw;
    height: 10vh;
    position: relative;

}
#rectanglewrongButton3{
    background-color: orange;
    width: 20vw;
    height: 23vw;
    position: relative;

}
button:hover{
    background-color: pink;
}
button:focus{
    border-color: blue;
    border-radius: 1vw;

   
}
p{
    font-size: 2vw;
}