#circlecorrectButton{
    
    background-color: yellow;
padding: 10vh;
width: 10vw;
height: 10vh;
border-radius: 75px;
border-color: none;
position: relative;
left: 10px;
top: 50px;
}
#circlewrongButton1{
    background-color: purple;
    padding: 10vh;
width: 20vw;
height: 10vw;
border-radius: 65px;
position: relative;
left: 10px;
top: 250px;
}
#circlewrongButton2{
    background-color: green;
    width: 15vw;
    height: 14vw;
    border-radius: 80px;
    position: relative;
left: 110px;
top: 100px;
}
#circlewrongButton3{
    background-color: orange;
    width: 20vw;
    height: 23vw;
    border-radius: 120px;
    position: relative;
left: 200px;
top: 300px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    text-align: center;
}